

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(241, 122, 122);
    height: 100vh;
    margin: 0;
    position: relative;
    
}

/*wrapper to go around body*/
.wrapper {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff; /* White background for the wrapper */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: #999;
   
}


/* added transform property before transform*/
.container{
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%); /*set perfectly in the center*/
}

.login-box{
    background-color: rgb(232, 235, 237);
    padding: 70px;
    text-align: center; /*making things look actually centered*/
    font-size: 32px;
    border-radius: 0;
    width: 300px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

/*.login{
    background-color: rgb(141, 240, 240);
} */

/* make login button stylish. Code from Pre-work assignment*/
 .login {
    padding: 14px;
    border-radius: 10px;
    background-color: #65c2cac7 ; /* Button background color */
    color: #fff; /* Button text color */
    border: none;
    cursor: pointer;
    margin-top: 20px; /* space input fields*/
 }


h2 {
    margin: 10;
    color: darkgrey;
    font-size: 24px;
}
h2{
    margin: 10;
    color: darkgrey;
    font-size: 12px;
}
input{
    display: block;
    width: 80%; /* 80% OF THE PARENT VIEW*/
    margin: 10px auto; /* center the input fields */
    padding: 10px;
    border: 1px solid #ccc;

}

/* Styling for the checkbox  */
input[type="checkbox"] {
    margin-right: 10px; /* Space between checkbox and label */
}

label {
    font-size: 10px;
    color: darkgrey;
}

